.main {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.list {
  margin-right: 25px;
  line-height: 23px;
  font-size: 14px;
}

button {
  position: absolute;
  left: 600px;
  padding: 12px;
  border-radius: 20px;
}